<section class="global-section">
  <h2>Détails de la tâche :</h2>

  <ul *ngIf="task; else taskerror" class="task-details global-box">
    <li>📍 <span class="details">Titre : </span><span
      class="task-title">{{ task.title }}</span></li>
      <li>📜 <span class="details">Description : </span>{{ task.description || 'pas de description' }}</li>
      <li>🔗 <span class="details">Statut : </span>{{ task.status }}</li>
      <li>
        <button (click)="onModifyTask(task.id)">🔧 Modifier</button>
      </li>
      <li>
        <button (click)="onDeleteTask(task.id)">❌ Supprimer</button>
      </li>
  </ul>

  <ng-template #taskerror>
    <div class="error-message">
      <p>Cette tâche n'existe pas.</p>
    </div>
  </ng-template>

  <a [routerLink]="['/tasks']">⬅️ Retour à la liste des tâches.</a>

</section>
