<section class="global-section">
  <h2>{{ isEditMode ? 'Modifier la tâche' : 'Nouvelle tâche' }}</h2>
  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>
  <form (ngSubmit)="onSubmit()" #taskForm="ngForm">
    <!-- TODO: affichage conditionnel quand tâche ajoutée ou error -->
    <label for="title">Titre :</label>
    <input type="text" id="title" name="title"
           [(ngModel)]="newTask.title" placeholder="Titre" required>
    <label for="description">Description :</label>
    <input type="text" id="description" name="description"
           [(ngModel)]="newTask.description" placeholder="Description">
    <label for="status">Status</label>
    <select name="status" id="status" [(ngModel)]="newTask.status">
      <option value="à faire">à faire</option>
      <option value="en cours">en cours</option>
      <option value="terminée">terminée</option>
    </select>
    <button type="submit" [disabled]="taskForm.invalid">
      {{ isEditMode ? 'Modifier' : 'Ajouter' }}
    </button>
  </form>
</section>
