<section class="global-section">
  <!-- Message d'erreur si tâche non trouvée -->
  <div *ngIf="taskNotFound" class="error-message">
    <p>La tâche demandée n'existe pas.</p>
    <p>Vous pouvez créer une nouvelle tâche ci-dessous !</p>
  </div>
  <!-- Affichage conditionnel du titre en fonction url -->
  <h2>{{ isEditMode ? 'Modifier la tâche' : 'Nouvelle tâche' }}</h2>
  <!-- Message succès affiché si non null -->
  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>
  <form (ngSubmit)="onSubmit()" #taskForm="ngForm">
    <label for="title">Titre<span class="required asterisk">*</span> :</label>
    <input type="text" id="title" name="title"
           [(ngModel)]="newTask.title" placeholder="Titre" required>
    <label for="description">Description :</label>
    <input type="text" id="description" name="description"
           [(ngModel)]="newTask.description" placeholder="Description">
    <label for="status">Status</label>
    <select name="status" id="status" [(ngModel)]="newTask.status">
      <option value="à faire">à faire</option>
      <option value="en cours">en cours</option>
      <option value="terminée">terminée</option>
    </select>
    <!-- Affichage conditionnel selon mode création ou modification -->
    <button type="submit" [disabled]="taskForm.invalid">
      {{ isEditMode ? 'Modifier' : 'Ajouter' }}
    </button>
  </form>
  <p class="required"><span class="asterisk">*</span> champs obligatoires</p>
</section>
