/****** Variables CSS ******/
:root {
  --font-global : Roboto, Helvetica;
  --color-black: #000000;
  --color-blue-dark: #364455;
  --color-blue-light: #568495;
  --color-grey-dark: #666;
  --color-grey-light: #F7F7F7;
  --color-white: #FFFFFF;
}

body {
  background-color: var(--color-grey-light);
  font-family: var(--font-global), sans-serif;
}

