<section class="global-section">
  <h2>Liste des tâches :</h2>

  <div *ngIf="tasks.length === 0; else tasksList">
    <p>Aucune tâche pour le moment.</p>
  </div>

  <ng-template #tasksList>
    <button (click)="onResetTasks()">Vider la liste</button>

    <ul class="task-list" *ngFor="let task of tasks">
      <div class="task-list-inline">
        <li>📍{{ task.title | titlecase }}</li>
        <li>🔗{{ task.status }}</li>
        <li>
        <button (click)="onModifyTask(task.id)">🔧 Modifier</button>
        </li>
        <li>
        <button (click)="onDeleteTask(task.id)">❌ Supprimer</button>
        </li>
      </div>
      <div class="task-list-inline">
        <li>
          <button (click)="onDisplayDetail(task.id)">
            {{ openedTaskId === task.id ? '❌ Masquer détails' : '📜 Afficher détails' }}
          </button>
        </li>
        <li *ngIf="openedTaskId === task.id">
          <app-task-detail [task]="task" />
        </li>
      </div>
    </ul>

  </ng-template>
</section>
