<section class="global-section">
  <h2>Liste des tâches :</h2>

  <div *ngIf="tasks.length === 0; else tasksList">
    <p>Aucune tâche pour le moment.</p>
    <a [routerLink]="['new']">Entrez votre première tâche !</a>
  </div>

  <ng-template #tasksList>
    <button (click)="onResetTasks()">Vider la liste</button>

    <ul class="task-list" *ngFor="let task of tasks">
      <div class="task-list-inline">
        <li>📍{{ task.title | titlecase }}</li>
        <li>🔗{{ task.status }}</li>
        <li>
        <button (click)="onDeleteTask(task.id)">❌ Supprimer</button>
        </li>
      </div>
      <div class="task-list-inline">
        <li>
          <a [routerLink]="['/tasks', task.id]">
            Afficher détails
          </a>
        </li>
      </div>
    </ul>

  </ng-template>
</section>
